body{
    background-color: rgb(5, 24, 36);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 100px;
    color: white;
}

h1{
    font-family: courier;
    text-shadow: 0 0 10px #f8f8f88a;
    font-size: 40px;
    text-align: center;
}

.container{
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: rgb(5, 24, 36);
   width: 300px;
}

.container_button{
    flex-grow: 1;
    padding: 10px 0;
    width: 20px;
}

.puntuacion_span{
    font-size: 20px;
}
.puntuacion_text{
    font-weight: bolder;
    font-size: 20px;
}

.puntuacion_text:first-child{
    color: red;
}

.puntuacion_text:nth-child(2){
    color: rgb(233, 178, 0);
}